@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Cinzel+Decorative:wght@400;700&family=Cookie&family=Dancing+Script:wght@400;700&family=Fredericka+the+Great&family=Gloria+Hallelujah&family=Grand+Hotel&family=Indie+Flower&family=Inter:wght@400;700&family=Lobster&family=Lora:wght@400;700&family=Monoton&family=Montserrat:wght@400;700&family=Mountains+of+Christmas&family=Nunito:wght@400;700&family=Noto+Sans+Tamil:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Permanent+Marker&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Poppins:wght@400;700&family=Quicksand&family=Raleway:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Sacramento&family=Shadows+Into+Light&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Stint+Ultra+Expanded&family=Tilt+Prism&family=Work+Sans:ital,wght@0,400;0,700;1,700&family=Yesteryear&display=swap');


.App {
  text-align: center;
}
body::-webkit-scrollbar{
  display: none;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
hr {
  border: none;
  height: 2px;
  width: 100%;
  margin: 50px auto;
  background: linear-gradient(
    to right,
    transparent,
    #d4af37,
    #ffffff33,
    #d4af37,
    transparent
  );
  position: relative;
  border-radius: 999px;
  box-shadow:
    0 0 12px rgba(212, 175, 55, 0.15),
    0 0 6px rgba(255, 255, 255, 0.05);
}
hr::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: radial-gradient(circle, #ffd700, #d4af37);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    0 0 6px #ffd70088,
    0 0 10px #d4af3755;
}
